html,
body,
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
    width: ;
    border: ;
    padding: 0px;+
font-size: 62.5%;
/* rem uses root font size */
/* em uses parent font size */
}

.parent{
justify-content: ;
display: flex;
flex-wrap: wrap;
}