html,
body,
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: ;
  border: ;
  padding: 0px;
  font-family: "Bowlby One SC", cursive;
  font-family: "Lora", serif;
  font-size: 62.5%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 241, 224);
  /* rem uses root font size */
  /* em uses parent font size */
}

h1 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url(img/rainbow.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  /* letter spacing */
}

.images {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 30rem;
  width: 40rem;
  margin: 5rem;
  margin-top: 3rem;
  box-shadow: 2rem;
  box-shadow: 1rem 1rem 1rem rgb(153, 153, 153);
  transition: all 0.3s;
}

.img:hover {
  transform: scale(1.1);
}
.img {
  transition: all 0.5s;
}

.blue {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  50% {
    margin-left: 50%;
    width: 150%;
  }

  to {
    margin-left: 12%;
    width: 100%;
  }
}

.pink:hover {
  transform: rotate(360deg);
}

.green:hover {
  transform: translatey(-5rem);
}

.yellow:hover {
  transform: scale(0.8);
}

.red:hover {
  transform: skew(30deg, 20deg);
}

@media (max-width: 600px) and (orientation: portrait) {
  h1 {
    font-size: 10rem;
  }
  img {
    height: 22.5rem;
    width: 30rem;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 120%;
    }

    50% {
      margin-left: 50%;
      width: 110%;
    }

    to {
      margin-left: 12%;
      width: 100%;
    }
  }
}
